In [4]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [6]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [7]:
# Call the function.
say_hello()

Hello!

In [8]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [10]:
# Call the function.
say_something("Hello World")

Hello World

In [20]:
# Pass variaiable inside the function to print it.
Jane_says = "Hi, my name is Jane.  I am leanrning Python!"
say_something(Jane_says)

Hi, my name is Jane.  I am leanrning Python!

In [23]:
# def is keyword, used to create the function.
# function name is "passing_math_percent()". 
# the two values are: pass_math_count (29,370) & student_count(39,170)
# "return" was used for passing the percentage.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [28]:
passing_math_count = 29370
student_count = 39170

In [30]:
passing_math_percent(passing_math_count, student_count)

74.9808526933878

In [42]:
# Using the "map()" is used for substituting each value in a series with another value.

# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [43]:
# Import Pandas
import pandas as pd
# Convert my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [44]:
# Change the grades by one letter grade using "map() function"
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [49]:
# Pythn "Format()" function is used to format a value to a specific format:  one or two decimal places / adding thousand separator.
#  Usinf this format: "{value:format specification}".format(value)
        # Usaually the "format(value)" is a variable.
        # After : the "format specification" will designate how the value should be formatted.

# create my_grades list.
my_grades = [92.34, 84.56, 86.78, 98.32]

# Using the format() function.
for grade in my_grades:
    print("{:.0f}".format(grade))
#Explanation of format: 
# 1. grade variable pass inside "format() function".
# 2. {:.0f} specifies the format for grade.
# grade variable is referrenced in front of the :, so there is no reason to add the grade variable.
# ("{:.0f}".format) after the colon :, the "0f" means to format grade win NO decmal place....."0" is for no decimal place ... the "f" means floating-point decimal.  We would use 1 or 2 to change the deicmal places.

92
85
87
98

In [50]:
# Chaining Map() & Format() functions:
# Convert the numerical grades to a Series(columns ?).
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [53]:
# Format the grades to the nearest whole number percent.  Using map() and format().
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object